extends layout
block content
  h1= title
  - let Keepsakes=[{keep_model:"Photos",keep_cost:50,keep_quantity:2},{keep_model:"Wind chimes",keep_cost:500,keep_quantity:1},{keep_model:"Jewelery",keep_cost:1000,keep_quantity:4}]
  div(class="container-fluid")
  div(class="row")
   each K,index in Keepsakes
    div(class="col-sm-2" onclick =`buy(${index})`) #{K.keep_model}, #{K.keep_cost}, #{K.keep_quantity}
   script.
    function buy(i)
    {
      alert(`You purchased Item ${i+1}`)
    } 
   