extends layout
block content
  h1= title
  if (toShow == null)
    h2 No instance to Update
  else
    - let keepSakeid = toShow._id
    - let keep_model = toShow.keep_model
    - let keep_cost = toShow.keep_cost
    - let keep_quantity = toShow.keep_quantity
    div.row(class='mb-2')
      div.mr-1 ID is
      div #{keepSakeid}
    - let actionid = "/resource/keepSakes/" + keepSakeid
    form(id='keepsakeForm', action=actionid, method="PUT")
      div.form-group
        label.keepSakeAttr(for='keep_model') KeepSake Model
        input#keep_model(type='text', name='keep_model', value=keep_model )
      div.form-group
        label.keepSakeAttr(for='keep_cost') KeepSake Cost
        input#keep_cost(type='number', name='keep_cost', value=keep_cost)
      div.form-group
        label.keepSakeAttr(for='keep_quantity') KeepSake Quantity
        input#keep_quantity(type='number', name='keep_quantity', value=keep_quantity )
      input(type="submit")
    script.
      document.forms['keepsakeForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO: do something here to show the user that the form is being submitted
        fetch(event.target.action, {
          method: 'PUT',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Update succeeded");
          // TODO: handle body
        }).catch((error) => {
          // TODO: handle error
          alert("Update failed " + error);
        });
      });
